<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" sku="Client"/>
  </startup>
  <appSettings>
    <add key="WeeklyWorkingHours" value="48"/>
    <add key="10HrsOT" value="10"/>
    <add key="12HrsOT" value="12"/>
    <add key="ConStrOleDb12" value ="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties=&quot;Excel 12.0;HDR=Yes;IMEX=2&quot;"></add>
    <add key="ConStrOleDb04" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties=&quot;Excel 8.0;HDR=Yes;IMEX=2&quot;"></add>
    <add key ="ExcelDateRow" value="6"/>
    <add key ="ExcelDateRowAdjustment" value="2"/>
    <add key ="CorrectDateFormat" value="false"/>
    <add key ="ReadFromExcel" value="true"/>
    <add key="ProcessWeeklyFile" value="true"/>
    <add key="OutputFilePath" value="D:\\Output\\Output.xlsx"/>
  </appSettings>
</configuration>
